In [1]:
import pandas as pd
import numpy as np

In [6]:
#Аспирант Ростислав изучает метаболом водорослей и получил такую табличку. 
#В ней он записал вид каждой водоросли, её род (группа, объединяющая близкие виды), 
#группа (ещё одно объединение водорослей в крупные фракции) и концентрации анализируемых веществ.
concentrations = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv')

In [11]:
concentrations

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [34]:
#1. Помогите Ростиславу найти среднюю концентрацию каждого из веществ в каждом из родов (колонка genus)! 
#Для этого проведите группировку датафрэйма, сохранённого в переменной concentrations, 
#и примените метод, сохранив результат в переменной mean_concentrations.
concentrations.groupby('genus') \
    .aggregate({'sucrose' : 'mean', 'alanin' : 'mean', 'citrate' : 'mean', 'glucose' : 'mean', 'oleic_acid' : 'mean'})

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

In [35]:
#2. Пользуясь предыдущими данными, укажите через пробел (без запятых) чему равны минимальная, средняя и максимальная 
#концентрации аланина (alanin) среди видов рода Fucus. Округлите до 2-ого знака, десятичным разделителем является точка.
#Выбор видов рода Fucus
con_Fucus = concentrations.query("genus == 'Fucus'")

In [22]:
con_Fucus

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203

In [32]:
#Расчет минимального среднего и максимального значений
min_v = round(con_Fucus['alanin'].min(), 2)
mean_v = round(con_Fucus['alanin'].mean(), 2)
max_v = round(con_Fucus['alanin'].max(), 2)
print(min_v, mean_v, max_v)

0.35 3.57 6.64

In [36]:
#3. Сгруппируйте данные по переменной group и соотнесите вопросы с ответами
concentrations.groupby('group').head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804

In [38]:
#Число видов бурых, зелёных и красных водорослей
concentrations.groupby('group').aggregate({'species': 'count'})

       species
group
brown        6
green        3
red          1

In [40]:
#Размах (максимум - минимум) сахарозы в бурых, зелёных и красных водорослях
concentrations.groupby('group').aggregate({'sucrose': 'max'}) -concentrations.groupby('group').aggregate({'sucrose': 'min'})

        sucrose
group
brown  5.189345
green  3.259662
red    0.000000

In [41]:
#Дисперсия концентрации цитрата в бурых, зелёных и красных водорослях
concentrations.groupby('group').aggregate({'citrate': 'var'})

        citrate
group
brown  5.468942
green  3.950113
red         NaN